@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Germania+One&display=swap');

body, html {
    height: 100%;
    background: rgb(33,33,33);
    background: linear-gradient(90deg, rgba(33,33,33,1) 0%, rgba(0,0,0,1) 50%, rgba(33,33,33,1) 100%);
}

main {
    background-color: #fcc1c3;
}

.my-nav {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(253,194,196,255) 0%, rgba(32,32,32,1) 100%);
}

.navbar .nav-link, a.navbar-brand {
    color: white;
    font-family: "Germania One", system-ui;
    font-style: normal;
    font-size: 1rem;
}

a.navbar-brand {
    font-size: 1.8rem;
    font-weight: 600;
}

    a.navbar-brand:hover {
        color: white;
    }

@media(max-width: 768px) {
    .my-ul, .my-li {
        margin-left: 0 !important;
        display: flex;
        align-items: center;
    }
}

div.container.body-content {
    background-color: #fcc1c3;
    padding: 0;
}

.hero-image {
    background-image: url('img/bg2.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-h1 {
    text-shadow: 10px 8px 11px black;
    font-size: 6rem;
    color: #ffc4cd;
}

.hero-text {
    text-align: center;
    height: 20rem;
    transform: translate(0%, 30%);
}

h1, h2, h3 {
    font-family: "Germania One", system-ui;
    font-weight: 800;
    font-style: normal;
    font-size: 2.5rem;
}

h4, h5, h6 {
    font-family: "Germania One", system-ui;
    font-weight: 800;
    font-style: normal;
}

p {
    font-family: "Abel", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* Stili per la classe about-studio */
.about-studio {
    box-shadow: 4px 3px 1rem 0px rgba(0, 0, 0, 0.15);
    border: double;
    background-color: #5e5959;
}

/* Stili per gli elementi con classe flex-container */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Stili per le immagini dello studio */
.studio-image {
    width: 21rem;
}


/* Stili per la classe artist-info */
.artist-info-right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-block-end: 10px;
    padding-inline-end: 30px;
}

.artist-info-left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-block-end: 10px;
    padding-inline-start: 30px;
}


.artist-details-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 10px;
    margin-bottom: 20px;
}

.artist-details-left {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/* Stili per le immagini dell'artista */
.artist-images-right {
    display: flex;
    flex-wrap: wrap;
    flex: 1.7;
    gap: 12.4px;
    justify-content: flex-end;
}

.artist-images-left {
    display: flex;
    flex-wrap: wrap;
    flex: 1.7;
    gap: 12.4px;
}

/* Stili per l'immagine dell'artista */
.artist-image {
    width: 100%;
    max-width: 25.7rem;
    flex-basis: 100%;
}

/* Stili per i tatuaggi dell'artista */
.artist-tattoo {
    width: 30%;
    flex-basis: 30%;
}

/* Stili per la descrizione dell'artista */
.artist-description {
    flex: 1.5;
    padding-left: 20px;
}

a:hover {
    color: dimgrey;
}

a {
    color: white;
}

@media(max-width: 768px) {
    .artist-description, .studio-description {
        padding-top: 10px;
        padding-left: 13px;
        font-size: 1.5rem;
    }
}

@media(max-width:1024px) {
    .th-img {
        display: none;
    }
}

@media(max-width:768px) {
    .hero-h1, .hero-text {
        transform: translate(0%, 30%);
        font-size: 5rem;
    }
}

@media(min-width:1440px) {
    .artist-description, .studio-description {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .artist-details-left, .artist-details-right {
        display: block;
        flex-direction: initial;
        gap: 0;
    }
}

@media(max-width: 768px) {
    .artist-images-left, .artist-images-right {
        gap: 17px;
        justify-content: center;
    }
}

.product-col {
    overflow: hidden;
    position: relative;
}

.product-info {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: #ffc4cda8;
    transition: bottom 0.5s ease;
}

.product-col:hover .product-info,
.product-col:focus-within .product-info {
    bottom: 8.8px;
}

.product-image-container img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.product-col:hover .product-image-container img {
    transform: scale(1.05);
}

.product-button {
    font-size: 16px;
    border-radius: 0;
}
/* Stile per le immagini */
.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#main-image-container {
    margin-bottom: 20px;
}

#main-image {
    width: 400px; /* Dimensione dell'immagine principale */
}

#other-images-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

@media(max-width: 768px) {
    #other-images-container {
        gap: 2px;
    }
}

.other-image {
    cursor: pointer;
}

.other-image-img {
    width: 100px; /* Dimensione delle immagini aggiuntive */
}

.login-register-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media(max-width: 768px) {
    .login-register-div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}
.center-table {
    margin: 0 auto; /* Imposta i margini automaticamente per centrare la tabella */
    width: 80%; /* Imposta la larghezza desiderata della tabella */
